<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>{% block title %}IRCapp-Restart{% endblock %}</title>
    <link href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" type="image/ico"></link>
    <link rel="stylesheet" href="{{STATIC_URL}}material.min.css"></link>
    <script src="{{STATIC_URL}}jquery.min.js"></script>
  </head>

  <!--

    DOM beginning

  -->


<body>
    <style type='text/css'>
        body
        {background-image: url(/static/ic_ircapp_restart.svg);
        background-position:50%;
        background-repeat: no-repeat;}
    </style>
    <script>
        function Pingserver(){
                $.ajax({
                    url: "/restart_server/",
                    type: "get",
                    data : { par : "respawn" },
                    success: function( response ) {
                        if ( response === "OK" ) {
                            window.location.replace("/")
                        }
                    }
                });
        }; 

        $(document).ready( function () {
            setTimeout(Pingserver, 5000);
        });
        
    </script>    
</body>
          
</html>
