<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>{% block title %}IRCapp-Search{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" type="image/ico"></link>
    <link rel="stylesheet" href="{{STATIC_URL}}material.min.css"></link>
    <link rel="stylesheet" href="{{STATIC_URL}}STYLES_override.css"/></link>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{STATIC_URL}}jquery.min.js"></script>
    <script src="{{STATIC_URL}}material.min.js"></script>
    <script src="{{STATIC_URL}}jquery.tooltipster.min.js"></script>

   {% block head %}{% endblock head %}
  </head>


  <!--

    DOM beginning

  -->

  <div class="mdl-layout mdl-layout--fixed-header">
    <header style="position:fixed" class="mdl-layout__header">
      <div class="mdl-layout__header-row">
	<!-- Title -->
	<span class="noselect ircapp-logo mdl-layout-title"><a href="/"><img src="{{STATIC_URL}}ic_ircapp_logo_white.svg"></a></span>
	<form class="" action="{% url 'search' %}" method="GET" id="top-search">
	  <div id="searchbox">
	    <input id="searchBox" placeholder="Search" name="search_query" type="text" class="searchbox">
	  </div>
	</form>
	<button id="download" title="Quick download" class="quick-download-button mdl-button mdl-js-button">
	  <img src="{{STATIC_URL}}ircapp_bolt.svg" height="24px">
	</button>
	<div class="mdl-layout-spacer"></div>
	<button id="upload_button" title="Send a file" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">file_upload</i>
	</button>
	<button id="settings_button" title="Quick download preferences" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">settings</i>
	</button>
	<button id="restart_button" title="Restart IRCapp" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">replay</i>
	</button>
	<button id="shutdown_button" title="Shutdown IRCapp" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">power_settings_new</i>
	</button>
	<button id="about_button" title="About" style="color:#fff;margin-right:16px" class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">info_outline</i>
	</button>
	<button id="download_box_button" title="Download box" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
	  <i class="download-box-button material-icons">arrow_downward</i>
	</button>

      </div>
    </header>
  </div>




<!--

  ABOUT

-->


<div id="about_div" style="display:none;position:fixed;left:calc(50% - 165px);top:calc(50% - 165px)"class="demo-card-square mdl-card mdl-shadow--2dp">
  <!-- <div style="background-color:#455a64" class="mdl-card__title mdl-card--expand"> -->
  <!--   <span class="mdl-card__title-text">About</span> -->
  <!-- </div> -->
  <div style="text-align:center;padding-top:60px" class="mdl-card__supporting-text">
    <img style="margin-right:8px;margin-bottom:8px" src="{{STATIC_URL}}ic_ircapp_logo_bluegray.svg" height="32px"><br>
    v<strong>{{version}}</strong> &middot; <a style="text-decoration:underline;cursor:pointer;" target="_blank" href="/log/">Log file</a><br><br>
    <strong>Code by MrJ &middot; Art by Schickele</strong><br>
    Inspired by the search king’s dev site<br>
    &copy; 2015–2022 &middot; <a target="_blank" href="{{STATIC_URL}}ircapp_gua.txt">License (MIT)</a><br><br>
    <!-- <hr style="width:298px"> -->
    <a class="opacity-on-hover" target="_blank" href="https://www.python.org"><img height="18px" src="{{STATIC_URL}}ic_python_gray.svg"></a>&ensp;
    <a class="opacity-on-hover" target="_blank" href="https://www.djangoproject.com/"><img height="18px" src="{{STATIC_URL}}ic_django_gray.svg"></a>&ensp;
    <a class="opacity-on-hover" target="_blank" href="http://www.getmdl.io/"><img height="18px" src="{{STATIC_URL}}ic_mdl_gray.svg"></a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a id="report_bug" href="https://github.com/themadmrj/ircapp/issues" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Report bug
    </a>
  </div>
  <div class="mdl-card__menu">
    <button id="close_about" style="color: rgba(0, 0, 0, 0.54)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!--

  SETTINGS

-->

<div id="settings_div" style="width:500px;display:none;position:fixed;left:calc(50% - 250px);top:calc(50% - 165px)"class="demo-card-square mdl-card mdl-shadow--2dp">
  <div style="background-color:#455a64" class="mdl-card__title mdl-card--expand">
    <span class="mdl-card__title-text">Quick download preferences</span>
	       
  </div>
  <div class="mdl-card__supporting-text">
    <div id="preferences_div">
      Prioritize:&nbsp;
      <div style="margin-left:0px;display:inline-block;vertical-align:top">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash1">
	<input class="mdl-radio__button" id="flash1" name="flash" type="radio" value="NORM">
	<span class="mdl-radio__label">Normal</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash2">
	<input class="mdl-radio__button" id="flash2" name="flash" type="radio" value="GOOD">
	<span class="mdl-radio__label">Good (720p)</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash3">
	<input class="mdl-radio__button" id="flash3" name="flash" type="radio" value="EXCE">
	<span class="mdl-radio__label">Excellent (1080p)</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash4">
	<input class="mdl-radio__button" id="flash4" name="flash" type="radio" value="MAXI">
	<span class="mdl-radio__label">Maximum (BlueRay)</span>
      </label>
      </div>
      <div id="contains_div">
	<form id="contains">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="contains_text" placeholder="Contains...">
	    <label class="mdl-textfield__label" id="contains_submit" for="contains_text"></label>
	  </span>
	</form>
	{% if contains %}
        {% for x in contains %}
            <span id='{{x.0}}' class="search-chip"><img id='delete_pic' style="padding-bottom:2px" src='{{STATIC_URL}}ic_delete_lightgray.svg'> {{ x.1 }}</span>
        {% endfor %}
	{% endif %}
      </div>
      <div id="excludes_div">
	<form id="excludes">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="excludes_text" placeholder="Excludes...">
	    <label class="mdl-textfield__label" id="excludes_submit" for="contains_text"></label>
	  </span>
	</form>
	{% if excludes %}
        {% for x in excludes %}
            <span id='{{x.0}}' class="search-chip"><img id='delete_pic' style="padding-bottom:2px" src='{{STATIC_URL}}ic_delete_lightgray.svg' height="20px"> {{x.1}}</span>
        {% endfor %}
	{% endif %}
      </div>
    </div>

  </div>
  <div class="mdl-card__menu">
	<button id="info_button" title="Quick download algorithm" style="color:#fff;" class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">info_outline</i> 
	</button>  
    <button id="close_settings" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!--

  DOWNLOAD BOX

-->

<div id="down" style="width:750px;position:fixed;right:32px;bottom:32px" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <span class="mdl-card__title-text">Download box</span>
    <span id="dcctransfer_information" class="mdl-card__title-text" style="display: none;">
        <label id="get_nickname">
	      <span class="mdl-textfield mdl-js-textfield">
	        <label class="mdl-textfield__input" type="text" id="get_nickname_text"></label>
	      </span>
	    </label>
        <label id="get_password">
	      <span class="mdl-textfield mdl-js-textfield">
	        <label class="mdl-textfield__input" type="text" id="get_password_text"></label>
	      </span>
	    </label>
  
    </span>    
  </div>
  <div id="folder_div">
    {% if free_space == -1 %}
      <div id="no_dir">Couldn’t find the corresponding download folder, please set one and make sure it exists.</div>
      Download directory: <a id="base_folder" title="Double click to change">No directory set</a>
    {% else %}
      Download directory: <a id="base_folder" title="Double click to change">{{directory}}</a>
    {% endif %}
    <div style="display: none;" id="nospacediv">Insufficient harddrive space to download the file, please make some and click "home" afterwards</div>
    <div style="display: none;" id="path_msg"></div>
    <span id="free_sp">{{free_space}} GB free <img style="display: none;" id='space_warning' src='{{STATIC_URL}}ic_warning_red.svg' heitgh="18px"></span>
    <br>
    <div id="downbox_options">
      <label class="mdl-checkbox mdl-js-checkbox" for="queue_similar">
	    <input type="checkbox" id="queue_similar" class="mdl-checkbox__input">
	    <span class="mdl-checkbox__label">Queue similar downloads</span>
      </label>    
      <label class="downbox_opt mdl-checkbox mdl-js-checkbox" for="shutdown">
	    <input type="checkbox" id="shutdown" class="mdl-checkbox__input">
	    <span class="mdl-checkbox__label">Shutdown when finished</span>
      </label>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="queue">
      <table>
        <tbody>
        </tbody>
      </table>
    </div>
    <hr>
    <div id="DownloadOngoing">
      <table>
        <!--
          this is where the ongoing downloads are populated by jquery
        --> 
      </table>

    </div>
    <hr>
      <div id="history">
	<table>
        <tbody>
        </tbody>	
	</table>
      </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a id="show_dcctransfer" title="Enable direct file transfer" class="ic-download mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
    &emsp;&emsp;Enable DFT
    </a>
    
    <a id="clear_history" class="ic-history mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
    &emsp;&emsp;Clear history
    </a>
    
  </div>
  <div id="downmenu" class="mdl-card__menu">
    <button id="down_expand" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">chevron_left</i>
    </button>
    <button id="down_collapse" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">chevron_right</i>
    </button>
    <button id="close_download_box" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!--

  SEND FILE (UPLOAD)

-->

<div id="upload_div" style="display:none;width:750px;position:fixed;left:calc(50% - 250px);top:calc(50% - 165px)" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card__title_up">
    <span class="mdl-card__title-text">Upload box</span>
  </div>

  <div class="mdl-card__supporting-text">
  
<div id="sendfile_container" class="mdl-card__supporting-text">
    <div id="receiver_nickname_div">
	<form id="receiver_nickname">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="receiver_nickname_text" placeholder="Receiver nickname">
	    <label class="mdl-textfield__label" id="contains_submit" for="contains_text"></label>
	  </span>
	</form>
	</div>
    <div id="send_pw_div">
	<form id="pw">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="send_password_text" placeholder="Password">
	    <label class="mdl-textfield__label" id="excludes_submit" for="contains_text"></label>
	  </span>
	</form>
    </div>
  </div>  
    
    

        <div id="UploadOngoing" style="display: none;">
      <table>
	  <tr class='upload'>
	    <td></td>
	      <td></td>
	      <td></td>
	      <td rowspan="2"><img id='delete_pic' src='{{STATIC_URL}}ic_cancel_red.svg'></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td>
	      <div class='upload_progressbox' style="display: none;">
		<div class='upload_progressbar'>
		  <span class='upload_statustxt'></span>
		</div>
	      </div>
	    </td>
	    <!-- <td></td> -->
	  </tr>     
      </table>
    </div>  


  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a id="send_file_button" class="ic-upload mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
    &emsp;&emsp;Choose file to send
    </a>
    
  </div>

  
  
  <div id="upmenu" class="mdl-card__menu">
	<button id="info_upload" title="Direct file transfer information" style="color:#fff;" class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">info_outline</i> 
	</button>   
    <button id="close_upload_box" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>







{% block searchresults %}{% endblock searchresults %}


<script>
///this first part is just for the settings
if ( "{{quick_down_value}}" === "NORM" ){
    $('#flash1').prop('checked', true);
} else if ( "{{quick_down_value}}" === "GOOD" ){
    $('#flash2').prop('checked', true);
} else if ( "{{quick_down_value}}" === "EXCE" ){
    $('#flash3').prop('checked', true);
} else {
    $('#flash4').prop('checked', true);
}

$('#settings_div').on('click', '.mdl-radio__button', function(events) {
    $.ajax({
      url: '/preferences/',
      type: 'put',
      data: { priority : $(this).val() } ,
      success: function(response) {}
    });
});

$('#contains_div').on('click', 'img', function(events) {
  var self   = $(this).parent(),
  pk  = self.attr('id');
  self.remove();
  $.ajax({
      url: '/preferences/',
      type: 'delete',
      data: { pk : pk } ,
      success: function(response) {}
  });
});
$('#excludes_div').on('click', 'img', function(events) {
  var self   = $(this).parent(),
  pk  = self.attr('id');
  self.remove();
  $.ajax({
      url: '/preferences/',
      type: 'delete',
      data: { pk : pk } ,
      success: function(response) {}
  });
});
$( "#contains" ).submit( function (event) {
  event.preventDefault();
  if ( $( "#contains_text" ).val().length > 0 ){
    $.ajax({
      url: "/preferences/",
      type: "put",
      data: { contains : $( "#contains_text" ).val()},

      success: function( data ) {
	$( "#contains_text" ).val("");
	$( "#contains_div" ).append("<span class='search-chip' id='" + data.id + "'><img id='delete_pic' style='padding-bottom:2px' src='{{STATIC_URL}}ic_delete_lightgray.svg'> " + data.text + "</span>");
      }
    });
  }
});
$( "#excludes" ).submit( function (event) {
  event.preventDefault();
  if ( $( "#excludes_text" ).val().length > 0 ){
    $.ajax({
      url: "/preferences/",
      type: "put",
      data: { excludes : $( "#excludes_text" ).val()},

      success: function( data ) {
	$( "#excludes_text" ).val("");
	$( "#excludes_div" ).append("<span class='search-chip' id='" + data.id + "'><img id='delete_pic' style='padding-bottom:2px' src='{{STATIC_URL}}ic_delete_lightgray.svg'> " + data.text + "</span>");
      }
    });
  }
});
$('#close_settings').click(function(event) {
  $("#settings_div").hide();
});
$('#settings_button').click(function(event) {
  if ( $("#settings_div").is(':visible') ){
    $("#settings_div").hide();
  } else {
    $("#settings_div").show();
    $("#down").hide();
    $("#about_div").hide();
  }
});

///this part is for the upload box
$('#close_upload').click(function(event) {
  $("#upload_div").hide();
});
$('#upload_button').click(function(event) {
  if ( $("#upload_div").is(':visible') ){
    $("#upload_div").hide();
  } else {
    $("#upload_div").show();
    $("#down").hide();
    $("#about_div").hide();
    $("#settings_div").hide();
    
  }
});
$('#send_file_button').click(function(event) {
      $.ajax({
        url: "/send_file/",
        type: "get",
        data: { nick : $( "#receiver_nickname_text" ).val(), pw : $( "#send_password_text" ).val() },

        success: function( data ) {
            if ( data.msg ) {
              Upload_Monitor();
            }
        },
        error: function( jqXHR, textStatus ) {
          console.log( "path failed: " + textStatus );
        }  
        
      });
});

///this part is for enabling the dcc transfer (client side)
$('#show_dcctransfer').click(function(event) {
  if ( $("#get_nickname_text").is(':empty') ){
    ///get nickname and password
      $.ajax({
        url: "/dcctransfer_information/",
        type: "get",

        success: function( data ) {
            $("#get_nickname_text").html(data.nick);
            $("#get_password_text").html(data.password);            
        },
        error: function( jqXHR, textStatus ) {
          console.log( "dccinfo failed: " + textStatus );
        }  
        
      });
  }
});


var up_content = "A few things to know about “Direct File Transfer”:\n" +
    "First the receiver has to enable DFT in the download box. He will be provided with a randomly generated\n" +
    "nickname and password.The sender can then use the latter in the upload box to send any file, of any size.\n" +
    "You can receive a file from anyone and should be able to send a file to most people.\n" +
    "In case the automatic UPnP port forwarding doesn't work, you can specify a port to be used instead.\n" +
    "Just add the port number in the config.ini file. You'll have to open that port on your router manually.\n" +
    "Most likely, you won't be able to send a file to someone using a public network, like a university's.\n";
$("#info_upload").click( function(){ alert( up_content ); });

var content = "The way “Quick download” works:\n" +
    "The algorithm will first make sure the file contains every word you indicated in the search box.\n" +
    "Then, it will do the same for the words you specify here (contains and does not contain).\n" +
    "The search will be made on a specific IRC channel, known to be reliable and fast.\n" +
    "If several results are found, the algorithm will finally choose the file matching your quality indications.\n" +
    "If no direct match regarding the quality is found, the algorithm proceeds downwards.\n" +
    "For instance, should you set your priority to “Excellent”, first an excellent quality will be looked for.\n" +
    "If there is no match, the next lower quality is looked for (e.g. “Good”).\n" +
    "Eventually a normal quality is chosen, if “ts” and “cam” are kept as excluded key words.";
$("#info_button").click( function(){ alert( content ); });


///second part : ABOUT
$('#close_about').click(function(event) {
  $("#about_div").hide();
});
$('#about_button').click(function(event) {
  if ( $("#about_div").is(':visible') ){
    $("#about_div").hide();
  } else {
    $("#about_div").show();
    $("#down").hide();
    $("#settings_div").hide();
  }
});

/// now comes the rest
var active = false,
    history_count = 0,
    queue_count = 0;


$(document).ready( function () {
    Getqueue();
    Getsettings();
    if ( "{{down_box}}" == "False" ){
      $("#down").hide();
    }
    Gethistory();
    Getspace();
  if ( {{free_space}} === -1 ){
    $("#searchBox").attr("placeholder", "No download folder set")
    $("#searchBox").attr("disabled", true)
    $("#download").attr("disabled", true)
    $("#down").show();
    $('#download_folder').show();
  } else {
    Monitor();
  }
});

$('#base_folder').tooltipster({
  content: $("<span>Double click to change</span>"),
  animation: 'grow',
  theme: 'tooltipster-shadow',
});
	
$('#base_folder').dblclick(function(event) {
  $.ajax({
    url: "/download_path/",
    type: "post",

    success: function( data ) {
      if ( data.success ) {
        $("#base_folder").html(data.success);
        $("#no_dir").hide();
        Getspace(false);
        $("#searchBox").attr("placeholder", "Search")
        $("#searchBox").attr("disabled", false)
        $("#download").attr("disabled", false)        
      } else {
        $("#path_msg").html(data.error);
        $("#path_msg").show();
      }
    },
    error: function( jqXHR, textStatus ) {
      console.log( "path failed: " + textStatus );
    }
  });
});


function Getsettings(what) {
  return $.ajax({
    url: "/download_settings/",
    type: "get",

    success: function( data ) {
        if ( data.shutdown === true ){
            $("#shutdown").prop('checked', true);
        }        
        if ( data.queue_similar === true ){
            console.log("queue similar true");
            $("#queue_similar")[0].checked = true;
        }  
    },
    error: function( jqXHR, textStatus ) {
      console.log( "get settings failed: " + textStatus );
    }
  });
};
function Getspace(update) {
  update = typeof update !== 'undefined' ? update : false;
  if ( active === true || update === false ) {
    $.ajax({
      url: "/space/",
      type: "get",

      success: function( data ) {
	$("#free_sp").html(data + " GB free");
      },
      error: function( jqXHR, textStatus ) {
	console.log( "space failed: " + textStatus );
      }
    });
  }
  if ( update === true ) {
    return $.ajax({
      url: "/space/",
      type: "get",

      success: function( data ) {
	if ( update === true ) {
	  return data.space;
	}
      },
      error: function( jqXHR, textStatus ) {
	console.log( "space failed: " + textStatus );
      }
    });
  }
  setTimeout( Getspace, 2000);
};
$('#down').on('click', '#delete_pic', function(events) {
  var self   = $(this).parent().parent(),
  pk  = self.attr('id'),
  myclass = $(this).attr('class');
  console.log(pk);
  if ( myclass === "queue" ){
    self.remove();
    queue_count = queue_count - 1;
    $.ajax({
      url: '/queue/',
      type: 'delete',
      data: { pk : pk } ,
      success: function(response) {}
    });
  } else if ( myclass === "history" ){
    self.remove();
    history_count = history_count - 1;
    $.ajax({
      url: '/history/',
      type: 'delete',
      data: { pk : pk } ,
      success: function(response) {}
    });
  } else if ( myclass === "upload" ){
      $.get( "/cancel_upload/" );
      $(this).parent().prev().html("Canceling...");  
  } else {
    if ( $(this).parent().prev().html() != "Canceling..." ){
      $.post( "/cancel_download/", { pk : pk } );
      $(this).parent().prev().html("Canceling...");
    }
  }
});

$('#upload_div').on('click', '#delete_pic', function(events) {
   $.get( "/cancel_upload/" );
  $(this).parent().prev().html("Canceling...");  

});

$('#down').on('click', '#opendir', function(event) {
  var self = $(this).parent();
  var myClass = self.parent().parent().parent().attr('id');
  var type = myClass == 'history' ? 'history' : 'download_ongoing';
  $.get( "/open_download_dir/", { pk : self.attr('id'), type : type }  );
});
$('#close_download_box').click(function(event) {
  $("#down").hide();
    $.ajax({
        url: '/download_settings/',
        type: 'put',
        data: { down_box : 0 },
        success: function(response) {}
    });
});
$('#close_upload_box').click(function(event) {
  $("#upload_div").hide();
});
$('#shutdown_button').click(function(event) {
    window.location.replace("/shutdown_server/?par=render");
    $.get( "/shutdown_server/", { par : "shutdown" } );
  });

$('#restart_button').click(function(event) {
    window.location.replace("/restart_server/?par=render");
    $.get( "/restart_server/", { par : "restart" } );
  });
$('#shutdown').click(function(event) {
  if ( $("#shutdown").is(':checked') ){
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { shutdown : 1 },
      success: function(response) {}
    });
  } else {
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { shutdown : 0 },
      success: function(response) {}
    });
  }
});
$('#queue_similar').click(function(event) {
  if ( $("#queue_similar").is(':checked') ){
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { queue_similar : 1 },
      success: function(response) {}
    });
  } else {
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { queue_similar : 0 },
      success: function(response) {}
    });
  }
});
$('#download_box_button').click(function(event) {
  if ( $("#down").is(':visible') ){
    $("#down").hide();
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { down_box : 0 },
      success: function(response) {}
    });
  } else {
    $("#down").show();
    $("#settings_div").hide();
    $("#about_div").hide();
    $.ajax({
      url: '/download_settings/',
      type: 'put',
      data: { down_box : 1 },
      success: function(response) {}
    });
  }
});
$('#down_expand').click(function(event) {
    $('#down').css("width", "calc(100% - 64px)");
    $('#down table').css("width", "100%");
});
$('#down_collapse').click(function(event) {
    $('#down').css("width", "750px");
    Recalibrate_table();
});


$( "#download" ).click(function(event) {
  event.preventDefault();
  $("#down").show();
  $.ajax({
    url: "/quick_download/",
    type: "post",
    data: { search_query : $( "#searchBox" ).val() },
    success: function( response ) {
      if ( response.fields ) {
	    //download is not launched; item is added to the queue
	    var item = [];
	    var filename = response.fields.filename,
	    size = response.fields.size,
	    size_str = response.fields.size_str,
	    network = response.fields.server,
	    bolt_pic = "";
	    if ( network.indexOf("criten") >= 0 ) {
	      bolt_pic = "<img src='{{STATIC_URL}}ircapp_bolt.svg'>"
	    }
	    item.push(
	        "<tr id='" + response.pk + "' name='" + size + "'>" +
	        "<td>" + filename + " " + bolt_pic +"</td>" +
	        "<td>" + size_str + "</td>" +
	        "<td>Queued</td>" +
	        "<td><img id='delete_pic' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
	        "</tr>"
	        );
	    $("#queue table").prepend(item);
        Add_tooltip( $("#queue table tr:first-child td:first-child"), $("#queue table tr:first-child td:first-child").html(), true );
	    $('.tooltip').tooltipster();	
	    Recalibrate_table();
      } else {
	    if ( response.redirect ) {
	      window.location.replace("/search/?search_query=" + response.search_query + "&no_quick=True");
	    }
      }
    }
  });
});
$( "#clear_history" ).click(function() {
  if ( confirm('Are you sure you want to clear your whole history database?') ) {
    $.ajax({
      url: '/history/',
      type: 'delete',
      success: function(response) {}
    });
    $("#history tr").remove();
  }
});

function Recalibrate_table() {
    var scroll_on = false;
    $( "#down table" ).each( function(){
        if ( $( this )[0].scrollHeight > $( this ).parent().height()+5 ){
            scroll_on = true;
        }
    });
    if ( scroll_on === true ){
        var minWidth = Math.min.apply( null, $( "#down table" ).map( function () {
            return $( this ).width();
        }).get() );
        $( "#down table" ).css("width", minWidth);
    } else {
        $( "#down table" ).css("width", "100%");
    }

};

function Getqueue() {
  $.ajax({
    url: "/queue/",
    type: "get",

    success: function( data ) {
      if ( data.length > 0 ) {
    $("#queue table tbody").remove(); 
    queue_count = data.length; 
	var items = [];
	for (i = 0; i < data.length; i++){
	  var filename = data[i].filename,
	    size_str = data[i].size_str,
	    size = data[i].size,
	    network = data[i].server,
	    bolt_pic = "";
	  if ( network.indexOf("criten") >= 0 ) {
	    bolt_pic = "<img src='{{STATIC_URL}}ircapp_bolt.svg'>"
	  }
	  items.push(
	      "<tr id='" + data[i].id + "' name='" + filename + "'>" +
	      "<td>" + filename + bolt_pic +"</td>" +
	      "<td>" + size_str + "</td>" +
	      "<td>Queued</td>" +
	      "<td><img id='delete_pic' class='queue' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
	      "</tr>"
	      );

	}
	$("#queue table").append(items);
    $("#queue table tr td:first-child").each( function(){
        Add_tooltip( $(this), $(this).html(), true );
    }); 
	$('.tooltip').tooltipster();	
	Recalibrate_table();
      }
    },
    error: function( jqXHR, textStatus ) {
      console.log( "Getqueue failed: " + textStatus );
    }
  });
};

function Add_tooltip( obj, content, test ){
  test = typeof test !== 'undefined' ? test : false;    
  var c = obj.clone();
  c.css({display: 'inline', width: 'auto', visibility: 'hidden'});   
  c.appendTo('body');
  if ( test ){
    if( c.width() > obj.width() ) {
	  test = false;
	}
  }
  c.remove();
  if ( test === false ){      
    if ( obj.hasClass('tooltipstered') ){
	} else {
	  obj.tooltipster({
		content: $("<span>" + content + "</span>"),
		animation: 'grow',
		theme: 'tooltipster-shadow',
	  });
	}
  }   
};


function Testnull(data, what) {
  if ( data ) {
    if ( what === "speed" ) {
      return data + " kB/s";
    } else {
      if ( typeof data !== "undefined" ){
	    if ( (''+data).indexOf("null") < 0 && (''+data).indexOf("undefined") < 0){
	      return data;
		} else {
	      return "";
		}
      } else {
	    return "";
      }
    }
  } else {
    return "";
  }
};
function Gethistory() {
  $.ajax({
    url: "/history/",
    type: "get",

    success: function( data ) {
      if ( data.length > 0 ) {
        history_count = data.length;
        $("#history table tbody").remove();  
	for (i = 0; i < data.length; i++){
	  var item = [];
	  var filename = data[i].filename,
	    status = data[i].status,
	    average = Testnull(data[i].average, "speed"),
	    time = Testnull(data[i].end_date),
	    size_str = Testnull(data[i].size_str),
	    attempts = Testnull(data[i].attempts),
	    duration = Testnull(data[i].duration);
      item.push( "<tr id='" + data[i].id + "'>" +
        "<td id='opendir'>" + filename  + "</td>" +
        "<td>" + size_str + "</td>" +
        "<td>" + status +
        "</td>" +
        "<td><img id='delete_pic' class='history' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
        "</tr>"
	      );

	   $("#history table").append(item);
	   var content = "Download information:<br>" + "Average speed: " + average + "<br>" + "Duration: " + duration +
            "<br>" + "End time: " + time + "<br>" + "Attempts: " + attempts;
	   Add_tooltip( $("#history table tr:last-child td:nth-child(3)"), content );

	}
     $("#history table tr td:first-child").each( function(){
        Add_tooltip( $(this), $(this).html(), true );
    }); 
	$('.tooltip').tooltipster();
	Recalibrate_table();
      }
    },
    error: function( jqXHR, textStatus ) {
      console.log( "Gethistory failed: " + textStatus );
    }
  });

};

function Blink(){
  $("#nospacediv").show();
  $("#space_warning").show();
  var timer = window.setInterval(function(){
    $("#space_warning").css("opacity", "0.1");
      window.setTimeout(function(){
        $("#space_warning").css("opacity", "1");
      }, 200);
    }, 1000);
};

function OnProgress(percentComplete, element_number, type)
{
  type = typeof type !== 'undefined' ? type : "download";
  if ( type === "download" ) {
    //Progress bar
    $("#DownloadOngoing td:eq("+element_number+") .progressbox").show();
    $("#DownloadOngoing td:eq("+element_number+") .progressbar").width(percentComplete+"%");
    $("#DownloadOngoing td:eq("+element_number+") .statustxt").html(percentComplete+" %");
  } else {
    $('.upload_progressbox').show();
    $('.upload_progressbar').width(percentComplete+"%");
    $('.upload_statustxt').html(percentComplete+" %");
  }   

};

function Upload_Monitor() {
    $.ajax({
      url: "/upload_monitor/",
      type: "get",

      success: function( response ) {
	if ( response.fields ){
      $( "#sendfile_container" ).hide();
      $( "#UploadOngoing" ).show();
	  $("#UploadOngoing td").eq(0).html(response.fields.filename);
      Add_tooltip( $("#UploadOngoing tr:first-child td:first-child"), $("#UploadOngoing tr:first-child td:first-child").html(), true );
      $('.tooltip').tooltipster();	
	  $("#UploadOngoing td").eq(1).html(response.fields.size_str);
	  $("#UploadOngoing td").eq(2).html(response.fields.status);
	  sz = response.fields.received_bytes_str + " of " + response.fields.size_str;
	  eta = response.fields.eta;
	  est = response.fields.timeleft;
	  $("#UploadOngoing td").eq(4).html(Testnull(sz + " &mdash; " + est + " left @ " + eta));
	  $("#UploadOngoing td").eq(5).html(Testnull(response.fields.speed, "speed"));
  	  if ( response.fields.status === "Uploading..." ){
	    OnProgress(response.fields.progress, 0, "upload");
      } else {
        $('#upload_progressbox').hide();
	  }
	} else {}
	}
	  
    });
    setTimeout(Upload_Monitor, 1000);
};	  

function Monitor() {
    $.ajax({
        url: "/monitor/",
        type: "get",
        data: { history_count : history_count, queue_count : queue_count },

        success: function( response ) {
            if ( response.update_elements ){
                ///update history & queue
                Getqueue();
                Gethistory();
            }

            ///first we have to check the html table for ongoing downloads
            ///add or remove elements until correct number is reached
            if ( response.download_ongoing_list ){
                var tr_number = $('#DownloadOngoing table tbody').children('tr').length/2;
                var ongoingDownloadsCount = response.download_ongoing_list.length;
                var downloads = response.download_ongoing_list;
                if ( ongoingDownloadsCount !== tr_number ) {
                    if ( ongoingDownloadsCount > tr_number ) {
                        ///need to add some trs for new ongoing downloads
                        for (i = 0; i < (ongoingDownloadsCount - tr_number); i++){
                            var new_tr = [];
                            new_tr.push(
                                "<tr class='mainrow'>" +
                                "<td id='opendir'><td><td><td rowspan='2'><img id='delete_pic' src='{{STATIC_URL}}ic_cancel_red.svg'></td>" +
                                "</tr>" +
                                "<tr><td><td><td>"+
                                "<div class='progressbox' style='display: none;'>"+
                                "<div class='progressbar'>"+
                                "<span class='statustxt'></span>"+
                                "</div></div></td></tr>"
                            );
                            $('#DownloadOngoing table').prepend(new_tr);
                        }
                    } else {
                        ///too many trs, need to remove the inactive downloads
                        ///add trs again if some downloads were replaced ?
                        var down_list = [];
                        for (i = 0; i < ongoingDownloadsCount; i++){
                            down_list.push(downloads[i].id);
                        }
                        $('#DownloadOngoing table tr').each(function () {
                            if ( $(this).hasClass("mainrow") ){
                                if ( $.inArray($(this).attr('id'), down_list) === -1 && ongoingDownloadsCount !== tr_number ){
                                    ///displayed download id is not in down_list, remove elements if more than necessary
                                    $(this).next().remove();
                                    $(this).remove();
                                }
                            }
                        });
                    }
                }
                ///now the table is built
                ///we can proceed and populate it with data
                console.log(response);
                for (i = 0; i < ongoingDownloadsCount; i++){
                    $('#DownloadOngoing tr').eq(2*i).attr("id", downloads[i].id);
                    $("#DownloadOngoing td").eq(7*i).html(downloads[i].filename);
                    Add_tooltip( $("#DownloadOngoing tr:first-child td:first-child"),
                    $("#DownloadOngoing tr:first-child td:first-child").html(), true );
                    $('.tooltip').tooltipster();
                    $("#DownloadOngoing td").eq(7*i+1).html(downloads[i].size_str);

                    ///Convert the ETA into the number of seconds left
                    var _status = downloads[i].status;
                    if (_status.length > 10 && _status.slice(0, 10) == "Requesting"){
                      var now = new Date();
                      var startDate = Date.parse(_status.split('at:')[1]);
                      var seconds = parseInt((startDate - now)/1000);
                      _status = "Requesting pack in " + seconds.toString() + "s";
                    }
                    $("#DownloadOngoing td").eq(7*i+2).html(_status);
                    sz = downloads[i].received_bytes_str + " of " + downloads[i].size_str;
                    eta = downloads[i].eta;
                    est = downloads[i].time_left;
                    if ( downloads[i].filename.indexOf("file transfer") >= 0 ){
                        ///direct file transfer
                        if ( $("#DownloadOngoing td").eq(7*i+4).is(':empty') ) {
                            $("#DownloadOngoing td").eq(7*i+4).html("Nickname & pw: " + "<a style='color:#03a9f4'>" +
                                $("#get_nickname_text").html() + "</a> | <a style='color:#03a9f4'>" + $("#get_password_text").html() + "</a>");
                        }
                    } else {
                        $("#DownloadOngoing td").eq(7*i+4).html(Testnull(sz + " &mdash; " + est + " left @ " + eta));
                    }
                    $("#DownloadOngoing td").eq(7*i+5).html(Testnull(downloads[i].speed, "speed"));
                    active = downloads[i].active;
                    if ( downloads[i].status === "Downloading..." ){
                        OnProgress(downloads[i].progress, 7*i+6);
                    } else {
                        $("#DownloadOngoing td:eq("+(7*i+6)+").progressbox").hide();
                    }
                }
            } else {
                ///There is no more download ongoing
                $('#DownloadOngoing table tbody').remove();
            }        
        },    
        error: function( jqXHR, textStatus ) {
            console.log( "Monitor failed: " + textStatus );
        }
    });
    setTimeout(Monitor, 1000);
    Recalibrate_table();
};

</script>


  </body>
</html>
