<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}IRCapp-Search{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}favicon.ico" rel="shortcut icon" type="image/ico"></link>
    <link rel="stylesheet" href="{{STATIC_URL}}material.min.css"></link>
    <link rel="stylesheet" href="{{STATIC_URL}}STYLES_override.css"/></link>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{{STATIC_URL}}jquery.min.js"></script>
    <script src="{{STATIC_URL}}material.min.js"></script>
    <script src="{{STATIC_URL}}jquery.tooltipster.min.js"></script>

   {% block head %}{% endblock head %}
  </head>


  <!--

    DOM beginning

  -->

  <div class="mdl-layout mdl-layout--fixed-header">
    <header style="position:fixed" class="mdl-layout__header">
      <div class="mdl-layout__header-row">
	<!-- Title -->
	<span class="noselect ircapp-logo mdl-layout-title"><a href="/"><img src="{{STATIC_URL}}ic_ircapp_logo_white.svg"></a></span>
	<form class="" action="{% url 'search' %}" method="GET" id="top-search">
	  <div id="searchbox">
	    <input id="searchBox" placeholder="Search" name="q" type="text" class="searchbox">
	  </div>
	</form>
	<button id="download" title="Quick download" class="quick-download-button mdl-button mdl-js-button">
	  <img src="{{STATIC_URL}}ircapp_bolt.svg" height="24px">
	</button>
	<div class="mdl-layout-spacer"></div>
	<button id="settings_button" title="Quick download preferences" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">settings</i>
	</button>
	<button id="restart_button" title="Restart IRCApp" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">replay</i>
	</button>
	<button id="shutdown_button" title="Shutdown IRCApp" style="color:#fff;margin-right:8px" class="mdl-button mdl-js-button mdl-button--icon">
		<i class="material-icons">power_settings_new</i>
	</button>
	<button id="about_button" title="About" style="color:#fff;margin-right:16px" class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">info_outline</i>
	</button>
	<button id="download_box_button" title="Download box" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
	  <i class="download-box-button material-icons">arrow_downward</i>
	</button>

      </div>
    </header>
  </div>




<!--

  ABOUT

-->


<div id="about_div" style="display:none;position:fixed;left:calc(50% - 165px);top:calc(50% - 165px)"class="demo-card-square mdl-card mdl-shadow--2dp">
  <!-- <div style="background-color:#455a64" class="mdl-card__title mdl-card--expand"> -->
  <!--   <span class="mdl-card__title-text">About</span> -->
  <!-- </div> -->
  <div style="text-align:center;padding-top:60px" class="mdl-card__supporting-text">
    <img style="margin-right:8px;margin-bottom:8px" src="{{STATIC_URL}}ic_ircapp_logo_bluegray.svg" height="32px"><br>
    v<strong>1.1.1</strong> &middot; <a style="text-decoration:underline;cursor:pointer;" target="_blank" href="/log/">Log file</a><br><br>
    <strong>Code by MrJ &middot; Art by Schickele</strong><br>
    Inspired by the search king’s dev site<br>
    &copy; 2015 &middot; <a target="_blank" href="{{STATIC_URL}}ircapp_gua.txt">License (MIT)</a><br><br>
    <!-- <hr style="width:298px"> -->
    <a class="opacity-on-hover" target="_blank" href="https://www.python.org"><img height="18px" src="{{STATIC_URL}}ic_python_gray.svg"></a>&ensp;
    <a class="opacity-on-hover" target="_blank" href="https://www.djangoproject.com/"><img height="18px" src="{{STATIC_URL}}ic_django_gray.svg"></a>&ensp;
    <a class="opacity-on-hover" target="_blank" href="http://www.getmdl.io/"><img height="18px" src="{{STATIC_URL}}ic_mdl_gray.svg"></a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a id="report_bug" href="https://github.com/themadmrj/ircapp/issues" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Report bug
    </a>
    <a href="bitcoin:1KTXsH5D7nG9vozmWb3WkbBJrPnwsEieis" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Make a donation
    </a>
  </div>
  <div class="mdl-card__menu">
    <button id="close_about" style="color: rgba(0, 0, 0, 0.54)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!--

  SETTINGS

-->

<div id="settings_div" style="width:500px;display:none;position:fixed;left:calc(50% - 250px);top:calc(50% - 165px)"class="demo-card-square mdl-card mdl-shadow--2dp">
  <div style="background-color:#455a64" class="mdl-card__title mdl-card--expand">
    <span class="mdl-card__title-text">Quick download preferences</span>
	       
  </div>
  <div class="mdl-card__supporting-text">
    <div id="preferences_div">
      Prioritize:&nbsp;
      <div style="margin-left:0px;display:inline-block;vertical-align:top">
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash1">
	<input class="mdl-radio__button" id="flash1" name="flash" type="radio" value="NORM">
	<span class="mdl-radio__label">Normal</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash2">
	<input class="mdl-radio__button" id="flash2" name="flash" type="radio" value="GOOD">
	<span class="mdl-radio__label">Good (720p)</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash3">
	<input class="mdl-radio__button" id="flash3" name="flash" type="radio" value="EXCE">
	<span class="mdl-radio__label">Excellent (1080p)</span>
      </label><br>
      <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="flash4">
	<input class="mdl-radio__button" id="flash4" name="flash" type="radio" value="MAXI">
	<span class="mdl-radio__label">Maximum (BlueRay)</span>
      </label>
      </div>
      <div id="contains_div">
	<form id="contains">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="contains_text" placeholder="Contains...">
	    <label class="mdl-textfield__label" id="contains_submit" for="contains_text"></label>
	  </span>
	</form>
	{% if contains %}
	{% for x in contains %}
	<span id='{{x.id}}' class="search-chip"><img id='delete_pic' style="padding-bottom:2px" src='{{STATIC_URL}}ic_delete_lightgray.svg'> {{ x.text }}</span>
	{% endfor %}
	{% endif %}
      </div>
      <div id="excludes_div">
	<form id="excludes">
	  <span class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="excludes_text" placeholder="Excludes...">
	    <label class="mdl-textfield__label" id="excludes_submit" for="contains_text"></label>
	  </span>
	</form>
	{% if excludes %}
	{% for x in excludes %}
	<span id='{{x.id}}' class="search-chip"><img id='delete_pic' style="padding-bottom:2px" src='{{STATIC_URL}}ic_delete_lightgray.svg' height="20px"> {{x.text}}</span>
	{% endfor %}
	{% endif %}
      </div>
    </div>

  </div>
  <div class="mdl-card__menu">
	<button id="info_button" title="Quick download algorithm" style="color:#fff;" class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">info_outline</i> 
	</button>  
    <button id="close_settings" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!--

  DOWNLOAD BOX

-->

<div id="down" style="width:750px;position:fixed;right:32px;bottom:32px" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <span class="mdl-card__title-text">Download box</span>
  </div>
  <div id="folder_div">
    {% if free_space == -1 %}
    <div id="no_dir">Couldn’t find the corresponding download folder, please set one to pursue downloading</div>
    {% endif %}
    Download directory: <a id="base_folder" title="Double click to change">{{directory}}</a>
    <form style="display: none;" method="POST" id="download_folder" title="Please note it is case sensitive. Windows example : 'D:\downloads' Linux example : '/home/mrj/Downloads'"> {% csrf_token %}
      {{ pathform.non_field_errors }}
      {{ pathform.download_path }}
      <a id='path_msg'></a>
      <input style="display: none;" type="submit" id="submit_folder">
    </form>
    <div style="display: none;" id="nospacediv">Insufficient harddrive space to download the file, please make some and click "home" afterwards</div>
    <span id="free_sp">{{free_space}} GB free <img style="display: none;" id='space_warning' src='{{STATIC_URL}}ic_warning_red.svg' heitgh="18px"></span>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="queue">
      <table>

      </table>
    </div>
    <hr>
    <div id="download_ongoing">
      <table>

	  <tr>
	    <td id='opendir' class='downloadongoing'>
	      <td></td>
	      <td></td>
	      <td rowspan="2"><img id='delete_pic' src='{{STATIC_URL}}ic_cancel_red.svg'></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td>
	      <div id='progressbox' style="display: none;">
		<div id='progressbar'>
		  <span id='statustxt'></span>
		</div>
	      </div>
	    </td>
	    <!-- <td></td> -->
	  </tr>

      </table>

    </div>
    <hr>
      <div id="history">
	<table>
	</table>
      </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a id="clear_history" class="ic-history mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
    &emsp;&emsp;Clear history
    </a>
    <span id="downbox_options">
      <label class="mdl-checkbox mdl-js-checkbox" for="shutdown">
	<input type="checkbox" id="shutdown" class="mdl-checkbox__input">
	<span class="mdl-checkbox__label">Shutdown when finished</span>
      </label>
    </span>
  </div>
  <div class="mdl-card__menu">
    <button id="button_expand" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">chevron_left</i>
    </button>
    <button id="button_collapse" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">chevron_right</i>
    </button>
    <button id="close_download_box" style="color:#fff" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>



{% block searchresults %}{% endblock searchresults %}


<script>
///this first part is just for the settings
if ( "{{quickdown_value}}" === "NORM" ){
    $('#flash1').prop('checked', true);
} else if ( "{{quickdown_value}}" === "GOOD" ){
    $('#flash2').prop('checked', true);
} else if ( "{{quickdown_value}}" === "EXCE" ){
    $('#flash3').prop('checked', true);
} else {
    $('#flash4').prop('checked', true);
}

$('#settings_div').on('click', '.mdl-radio__button', function(events) {
    $.post( "/preferences/", { priority : $(this).val() }  );
});

$('#contains_div').on('click', 'img', function(events) {
  var self   = $(this).parent(),
  pk  = self.attr('id');
  self.remove();
  $.get( "/delete_pref/", { pk : pk, contains : "contains" }  );
});
$('#excludes_div').on('click', 'img', function(events) {
  var self   = $(this).parent(),
  pk  = self.attr('id');
  self.remove();
  $.get( "/delete_pref/", { pk : pk, excludes : "excludes" }  );
});
$( "#contains" ).submit( function (event) {
  event.preventDefault();
  if ( $( "#contains_text" ).val().length > 0 ){
    $.ajax({
      url: "/preferences/",
      type: "post",
      data: { contains : $( "#contains_text" ).val()},

      success: function( data ) {
	$( "#contains_text" ).val("");
	$( "#contains_div" ).append("<span class='search-chip' id='" + data.id + "'><img id='delete_pic' style='padding-bottom:2px' src='{{STATIC_URL}}ic_delete_lightgray.svg'> " + data.text + "</span>");
      }
    });
  }
});
$( "#excludes" ).submit( function (event) {
  event.preventDefault();
  if ( $( "#excludes_text" ).val().length > 0 ){
    $.ajax({
      url: "/preferences/",
      type: "post",
      data: { excludes : $( "#excludes_text" ).val()},

      success: function( data ) {
	$( "#excludes_text" ).val("");
	$( "#excludes_div" ).append("<span class='search-chip' id='" + data.id + "'><img id='delete_pic' style='padding-bottom:2px' src='{{STATIC_URL}}ic_delete_lightgray.svg'> " + data.text + "</span>");
      }
    });
  }
});
$('#close_settings').click(function(event) {
  $("#settings_div").hide();
});
$('#settings_button').click(function(event) {
  if ( $("#settings_div").is(':visible') ){
    $("#settings_div").hide();
  } else {
    $("#settings_div").show();
    $("#down").hide();
    $("#about_div").hide();
  }
});

var content = "The way “Quick download” works:\n" +
    "The algorithm will first make sure the file contains every word you indicated in the search box.\n" +
    "Then, it will do the same for the words you specify here (contains and does not contain).\n" +
    "The search will be made on a specific IRC channel, known to be reliable and fast.\n" +
    "If several results are found, the algorithm will finally choose the file matching your quality indications.\n" +
    "If no direct match regarding the quality is found, the algorithm proceeds downwards.\n" +
    "For instance, should you set your priority to “Excellent”, first an excellent quality will be looked for.\n" +
    "If there is no match, the next lower quality is looked for (e.g. “Good”).\n" +
    "Eventually a normal quality is chosen, if “ts” and “cam” are kept as excluded key words.";
$("#info_button").click( function(){ alert( content ) });



///second part : ABOUT
$('#close_about').click(function(event) {
  $("#about_div").hide();
});
$('#about_button').click(function(event) {
  if ( $("#about_div").is(':visible') ){
    $("#about_div").hide();
  } else {
    $("#about_div").show();
    $("#down").hide();
    $("#settings_div").hide();
  }
});

/// now comes the rest
var looping = true;
var active = false;
var resume = false;
var queue_counter = 0;
var Mycounter = undefined;
var cancel = false;
var requeued_list = [];
Getqueue();
if ( "{{downbox}}" !== "True" ){
  $("#down").hide();
}
Getsettings("shutdown").done(function(r) {
  if ( r.state === true ){
    $("#shutdown").prop('checked', true);
  }
});
Gethistory();
Getspace();

$(document).ready( function () {
  if ( {{free_space}} === -1 ){
    $('#base_folder').hide();
    $("#down").show();
    $('#download_folder').show();
  } else {
    Monitor();
  }
});
$('#download_folder').submit(function(event) {
  event.preventDefault();
  $.ajax({
    url: "/download_path/",
    type: "post",
    data: { download_path : $( "#id_download_path" ).val()},

    success: function( data ) {
      $("#path_msg").html(data.msg);
    },
    error: function( jqXHR, textStatus ) {
      console.log( "path failed: " + textStatus );
    }
  });
});
$('#base_folder').tooltipster({
  content: $("<span>Double click to change</span>"),
  animation: 'grow',
  theme: 'tooltipster-shadow',
});
	
$('#base_folder').dblclick(function(event) {
  $('#base_folder').hide();
  $('#download_folder').show();
});


function OnProgress(percentComplete)
{
  //Progress bar
  $('#progressbox').show();
  $('#progressbar').width(percentComplete+"%");
  $('#statustxt').html(percentComplete+" %");

}
function Getsettings(what) {
  return $.ajax({
    url: "/download_settings/",
    type: "get",
    data: { data : what },

    success: function( data ) {
      return data.state;
    },
    error: function( jqXHR, textStatus ) {
      console.log( "get settings failed: " + textStatus );
    }
  });
}
function Getspace(update) {
  update = typeof update !== 'undefined' ? update : false;
  if ( active === true ) {
    $.ajax({
      url: "/space/",
      type: "get",

      success: function( data ) {
	$("#free_sp").html(data.space + " GB free");
      },
      error: function( jqXHR, textStatus ) {
	console.log( "space failed: " + textStatus );
      }
    });
  }
  if ( update === true ) {
    return $.ajax({
      url: "/space/",
      type: "get",

      success: function( data ) {
	if ( update === true ) {
	  return data.space;
	}
      },
      error: function( jqXHR, textStatus ) {
	console.log( "space failed: " + textStatus );
      }
    });
  }
  setTimeout( Getspace, 2000);
};
$('#down').on('click', '#delete_pic', function(events) {
  var self   = $(this).parent().parent(),
  pk  = self.attr('id'),
  myclass = $(this).attr('class');
  if ( myclass === "queue" ){
    self.remove();
    $.get( "/queue/", { pk : pk }  );
  } else if ( myclass === "history" ){
    self.remove();
    $.get( "/history/", { pk : pk }  );
  } else {
    if ( cancel != true && $("#download_ongoing td").eq(2).html() != "Canceled" ){
      cancel = true;
      $.get( "/cancel_download/", { par : "cancel" } );
    }
  }
});

$('#down').on('click', '#opendir', function(event) {
  var self   = $(this).parent();
  myclass = $(this).attr('class');
  if ( myclass === "history" ){
    var pk  = self.attr('id');
    $.get( "/opendir/", { pk : pk }  );
  } else {
    $.get( "/opendir/", { pk : 0 }  );
  }
});
$('#close_download_box').click(function(event) {
  $("#down").hide();
  $.post( "/download_settings/", { downbox : 0 }  );
});
$('#shutdown_button').click(function(event) {
    $.get( "/cancel_download/", { par : "shutdown" } );
    window.location.replace("/shutdown_server/?par=render");
    $.get( "/shutdown_server/", { par : "shutdown" } );
  });

$('#restart_button').click(function(event) {
    $.get( "/cancel_download/", { par : "restart" } );
    window.location.replace("/restart_server/?par=render");
    $.get( "/restart_server/", { par : "restart" } );
  });
$('#shutdown').click(function(event) {
  if ( $("#shutdown").is(':checked') ){
    $.post( "/download_settings/", { shutdown : 1 }  );
  } else {
    $.post( "/download_settings/", { shutdown : 0 }  );
  }
});
$('#download_box_button').click(function(event) {
  if ( $("#down").is(':visible') ){
    $("#down").hide();
    $.post( "/download_settings/", { downbox : 0 }  );
  } else {
    $("#down").show();
    $("#settings_div").hide();
    $("#about_div").hide();
    $.post( "/download_settings/", { downbox : 1 }  );
  }
});
$('#button_expand').click(function(event) {
    $('#down').css("width", "calc(100% - 64px)");
    $('#down table').css("width", "100%");
});
$('#button_collapse').click(function(event) {
    $('#down').css("width", "750px");
    Recalibrate_table();
});


$( "#download" ).click(function(event) {
  event.preventDefault();
  $("#down").show();
  $.ajax({
    url: "/quick_download/",
    type: "get",
    data: { q : $( "#searchBox" ).val() },
    success: function( response ) {
      if ( response.fields ) {
	//quickdownload is not launched because download is in progress;item is added to the queue
	var item = [];
	var filename = response.fields.title,
	size = response.fields.size,
	sizeraw = response.fields.sizeraw,
	network = response.fields.network,
	bolt_pic = "";
	if ( network.indexOf("criten") >= 0 ) {
	  bolt_pic = "<img src='{{STATIC_URL}}ircapp_bolt.svg'>"
	}
	item.push(
	    "<tr id='" + response.pk + "' name='" + sizeraw + "'>" +
	    "<td>" + filename + " " + bolt_pic +"</td>" +
	    "<td>" + size + "</td>" +
	    "<td>Queued</td>" +
	    "<td><img id='delete_pic' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
	    "</tr>"
	    );
	$("#queue table").prepend(item);
    Add_tooltip( $("#queue table tr:first-child td:first-child"), $("#queue table tr:first-child td:first-child").html(), true );
	$('.tooltip').tooltipster();	
	Recalibrate_table();
	cancel = false;
      } else {
	if ( response.redirect ) {
	  window.location.replace("/search/?q=" + response.q + "&noquick=True");
	}
      }
    }
  });
});
$( "#clear_history" ).click(function() {
  if ( confirm('Are you sure you want to clear your whole history database?') ) {
    $.get( "/clear_history/" );
    $("#history tr").remove();
  }
});

function Recalibrate_table() {
    var scroll_on = false;
    $( "#down table" ).each( function(){
        if ( $( this )[0].scrollHeight > $( this ).parent().height()+5 ){
            scroll_on = true;
        }
    });
    if ( scroll_on === true ){
        var minWidth = Math.min.apply( null, $( "#down table" ).map( function () {
            return $( this ).width();
        }).get() );
        $( "#down table" ).css("width", minWidth);
    } else {
        $( "#down table" ).css("width", "100%");
    }

};

function Getqueue() {
  $.ajax({
    url: "/queue/",
    type: "get",

    success: function( data ) {
      if ( data.length > 0 ) {
	var items = [];
	for (i = 0; i < data.length; i++){
	  var filename = data[i].fields.title,
	    size = data[i].fields.size,
	    sizeraw = data[i].fields.sizeraw,
	    network = data[i].fields.network,
	    bolt_pic = "";
	  if ( network.indexOf("criten") >= 0 ) {
	    bolt_pic = "<img src='{{STATIC_URL}}ircapp_bolt.svg'>"
	  }
	  items.push(
	      "<tr id='" + data[i].pk + "' name='" + sizeraw + "'>" +
	      "<td>" + filename + " " + bolt_pic +"</td>" +
	      "<td>" + size + "</td>" +
	      "<td>Queued</td>" +
	      "<td><img id='delete_pic' class='queue' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
	      "</tr>"
	      );

	}
	$("#queue table").append(items);
    $("#queue table tr td:first-child").each( function(){
        Add_tooltip( $(this), $(this).html(), true );
    }); 
	$('.tooltip').tooltipster();	
	Recalibrate_table();
      }
    },
    error: function( jqXHR, textStatus ) {
      console.log( "Getqueue failed: " + textStatus );
    }
  });
};

function Add_tooltip( obj, content, test ){
  test = typeof test !== 'undefined' ? test : false;    
  var c = obj.clone();
  c.css({display: 'inline', width: 'auto', visibility: 'hidden'});   
  c.appendTo('body');
  if ( test ){
    if( c.width() > obj.width() ) {
	  test = false;
	}
  }
  c.remove();
  if ( test === false ){      
    if ( obj.hasClass('tooltipstered') ){
	} else {
	  obj.tooltipster({
		content: $("<span>" + content + "</span>"),
		animation: 'grow',
		theme: 'tooltipster-shadow',
	  });
	}
  }   
};


function Testnull(data, what) {
  if ( data ) {
    if ( what === "speed" ) {
      return data + " kB/s";
    } else {
      if ( typeof data !== "undefined" ){
	    if ( (''+data).indexOf("null") < 0 && (''+data).indexOf("undefined") < 0){
	      return data;
		} else {
	      return "";
		}
      } else {
	    return "";
      }
    }
  } else {
    return "";
  }
};
function Gethistory() {
  $.ajax({
    url: "/history/",
    type: "get",

    success: function( data ) {
      if ( data.length > 0 ) {
	for (i = 0; i < data.length; i++){
	  var item = [];
	  var filename = data[i].fields.filename,
	    status = data[i].fields.status,
	    average = Testnull(data[i].fields.average, "speed"),
	    time = Testnull(data[i].fields.time),
	    size = Testnull(data[i].fields.size),
	    attempts = Testnull(data[i].fields.attempts),
	    duration = Testnull(data[i].fields.duration);
      item.push( "<tr id='" + data[i].pk + "'>" +
        "<td id='opendir'>" + filename  + "</td>" +
        "<td>" + size + "</td>" +
        "<td>" + status +
        "</td>" +
        "<td><img id='delete_pic' class='history' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
        "</tr>"
	      );

	   $("#history table").append(item);
	   var content = "Download information:<br>" + "Average speed: " + average + "<br>" + "Duration: " + duration +
            "<br>" + "End time: " + time + "<br>" + "Attempts: " + attempts;
	   Add_tooltip( $("#history table tr:last-child td:nth-child(3)"), content );

	}
     $("#history table tr td:first-child").each( function(){
        Add_tooltip( $(this), $(this).html(), true );
    }); 
	$('.tooltip').tooltipster();
	Recalibrate_table();
      }
    },
    error: function( jqXHR, textStatus ) {
      console.log( "Gethistory failed: " + textStatus );
    }
  });

};
function Queue_Counter() {
  queue_counter = queue_counter + 1;
}
function Blink(){
  $("#nospacediv").show();
  $("#space_warning").show();
  var timer = window.setInterval(function(){
    $("#space_warning").css("opacity", "0.1");
      window.setTimeout(function(){
        $("#space_warning").css("opacity", "1");
      }, 200);
    }, 1000);
}


function Monitor() {

  if ( looping === true ) {
    $.ajax({
      url: "/monitor/",
      type: "get",

      success: function( response ) {
	if ( response.fields ){
	  $("#download_ongoing td").eq(0).html(response.fields.filename);
      Add_tooltip( $("#download_ongoing tr:first-child td:first-child"), $("#download_ongoing tr:first-child td:first-child").html(), true );
      $('.tooltip').tooltipster();	
	  $("#download_ongoing td").eq(1).html(response.fields.size);
	  if ($('#download_ongoing td').find('#queue_warning').length > 0) {
	    $("#download_ongoing td").eq(2).html(response.fields.status);
          $('#download_ongoing td').eq(2).append("<img id='queue_warning' src='{{STATIC_URL}}ic_warning_red.svg' height='18px'>");
          var content = "It may take quite a while to receive<br>the package at this point;<br>It is recommended to try another package<br>if available to avoid waiting.";
          Add_tooltip( $("#download_ongoing td").eq(2), content );
          $('.tooltip').tooltipster();	
	  } else {
	    $("#download_ongoing td").eq(2).html(response.fields.status);
	  }
	  sz = response.fields.completed + " of " + response.fields.size;
	  eta = response.fields.eta;
	  est = response.fields.timeleft;
	  $("#download_ongoing td").eq(4).html(Testnull(sz + " &mdash; " + est + " left @ " + eta));
	  $("#download_ongoing td").eq(5).html(Testnull(response.fields.speed, "speed"));
	  active = response.fields.active;
	  //if ( Testnull(response.fields.progress) != "" ){
	  if ( response.fields.status === "Downloading..." ){
	    OnProgress(response.fields.progress);
      } else {
        $('#progressbox').hide();
	  }
	  //8 = empty

	  if ( response.fields.status.indexOf("queue") >= 0 ){
	    if ( queue_counter === 0 ){
	      Mycounter = setInterval( Queue_Counter, 1000);
	    } else {
	      if ( queue_counter >= 30 ){
	        clearInterval(Mycounter);
	        queue_counter = 0;
	        if ( requeued_list.indexOf(response.fields.filename) >= 0 ){
	            //in this case, the item has already been requeued once, so either stay with it, or remove it if shutdown option is ON
	            if ( $("#shutdown").is(':checked') ){
	                $.get( "/cancel_download/", { par : "cancel" } );
                } else {
		            if ($('#download_ongoing td').find('#queue_warning').length <= 0) {
		              //stay in queue, but display a warning that this may take quite a while
                      $('#download_ongoing td').eq(2).append("<img id='queue_warning' src='{{STATIC_URL}}ic_warning_red.svg' height='18px'>");
                      var content = "It may take quite a while to receive<br>the package at this point;<br>It is recommended to try another package<br>if available to avoid waiting.";
                      Add_tooltip( $("#download_ongoing td").eq(2), content );
                      $('.tooltip').tooltipster();	
		            }
                }
            } else {
                //in this case, the item is in queue for 30 seconds for the first time
	            if ($('#queue table').children().length > 0 ){
		        //move the item to the end of the queue and start next download
		        $.ajax({
		          url: "/cancel_download/",
		          type: "get",
		          data: { queuing : true},

		          success: function( response ) {
		            if ( response.fields ) {
		              var item = [];
		              var filename = response.fields.title,
		                size = response.fields.size,
		                sizeraw = response.fields.sizeraw,
		                network = response.fields.network,
		                bolt_pic = "";
		              if ( network.indexOf("criten") >= 0 ) {
			            bolt_pic = "<img src='{{STATIC_URL}}ircapp_bolt.svg'>"
		              }
		              item.push(
			            "<tr id='" + response.pk + "' name='" + sizeraw + "'>" +
			            "<td>" + filename + " " + bolt_pic +"</td>" +
			            "<td>" + size + "</td>" +
			            "<td>Queued</td>" +
			            "<td><img id='delete_pic' class='queue' src='{{STATIC_URL}}ic_delete_lightgray.svg'></td>" +
			            "</tr>"
			          );
		              $("#queue table").prepend(item);
		              Add_tooltip( $("#queue table tr:first-child td:first-child"), $("#queue table tr:first-child td:first-child").html(), true );
	                  $('.tooltip').tooltipster();	
		              requeued_list.push(filename);
		            }
		          },
		          error: function( jqXHR, textStatus ) {
		            console.log( "Prepend queue failed: " + textStatus );
		          }
		        });
	            } else {
		          if ($('#download_ongoing td').find('#queue_warning').length <= 0) {
		            //stay in queue, but display a warning that this may take quite a while
                      $('#download_ongoing td').eq(2).append("<img id='queue_warning' src='{{STATIC_URL}}ic_warning_red.svg' height='18px'>");
                      var content = "It may take quite a while to receive<br>the package at this point;<br>It is recommended to try another package<br>if available to avoid waiting.";
                      Add_tooltip( $("#download_ongoing td").eq(2), content );
                      $('.tooltip').tooltipster();	
		          }
	            }
	        }
	      }
	    }
      }

	  if ( response.fields.active === false ){
	    if ( response.fields.status === "Error during file transfer" && response.fields.attempts < 5){
	      $.get( "/queue_download/", { resume : true }  );
	    } else {
          if ($('#queue table').children().length > 0 ){
		    var space = 0;
		    Getspace(true).done(function(r) {
                if (r) {
                  space = r.space;
                  if ( space*1024 <= $("#queue tr").last().attr('name')/1024/1024 ) {
                    //do not proceed with download until harddrive space has been made
                    if ( $("#shutdown").is(':checked') ){ $.get( "/shutdown/" ); }
                    looping=false;
                    Blink();
                  } else {
                    var pk = $("#queue tr").last().attr('id');
                    $.ajax({
                      url: "/queue_download/",
                      type: "get",
                      data: { pk : pk },

                      success: function( response ) {
                         cancel = false;
                      },

                      error: function( jqXHR, textStatus ) {
                        console.log( "update history failed: " + textStatus );
                      }
                    });
                    $("#queue tr").last().remove();
                  }
                }
                });
            } else {
              if ( $("#shutdown").is(':checked') ){ $.get( "/shutdown/" ); }
            }
          }
        } else {
        //if status is "Interrupted", then resume;
          if ( response.fields.status === "Interrupted" && resume === false ){
            $.get( "/queue_download/", { resume : true }  );
            resume = true;
          }
        }
      } else {
        if ( active === false && response === "" ){
          if ($('#queue table').children().length > 0 ){
            var space = 0;
            Getspace(true).done(function(r) {
	          if (r) {
	            space = r.space;
	            if ( space*1024 <= $("#queue tr").last().attr('name')/1024/1024 ) {
	              //do not proceed with download until harddrive space has been made
	              looping=false;
	              $("#nospacediv").show();
	            } else {
	              var pk = $("#queue tr").last().attr('id');
	              $.get( "/queue_download/", { pk : pk }  );
	              $("#queue tr").last().remove();
	            }
	          }
	        });
          }
        }
      }
      setTimeout(Monitor, 1000);
    },
    error: function( jqXHR, textStatus ) {
      console.log( "Monitor failed: " + textStatus );
      setTimeout(Monitor, 1000);
    }
  });
  Recalibrate_table();

}
};

</script>


  </body>
</html>
